# IDE and editor
.vscode/
.idea/
*.iml
*.iws
*.ipr
**/.idea/

# Spring Boot build output
expense_tracker/target/

# Maven wrapper jar
expense_tracker/.mvn/wrapper/maven-wrapper.jar



# OS files
Thumbs.db
.DS_Store

#react
frontend/node_modules/
